<form action="/api/user/login" method="post">
    <h1>Авторизация</h1>
    <div>
        <label>Логин</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль</label>
        <input type="text" name="password" />
    </div>
    <div>
        <input type="submit" name="Войти" /><br />
    </div>
    <p>Нет аккаунта? <a href="/api/user/signup">зарегистрироваться</a></p>
</form>